<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>906214423056-8dbhcfmd8bm95garb08ge5je1u2hbcdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906214423056-8dbhcfmd8bm95garb08ge5je1u2hbcdh</string>
	<key>API_KEY</key>
	<string>AIzaSyDzxCECoCVNutCKFNnS9nuMRv2y0e-5cLU</string>
	<key>GCM_SENDER_ID</key>
	<string>906214423056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>universityofwashington.Roomies</string>
	<key>PROJECT_ID</key>
	<string>roomies-84dcf</string>
	<key>STORAGE_BUCKET</key>
	<string>roomies-84dcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906214423056:ios:caba9fe083b14f91</string>
	<key>DATABASE_URL</key>
	<string>https://roomies-84dcf.firebaseio.com</string>
</dict>
</plist>